body{
    background-color: orange;
     padding-top: 70px;
}



.hero-section {
    height: 70vh; /* plein écran */
    background-image: url("./photos/photo1.png"); /* mets le chemin de ton image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Overlay sombre pour le texte */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero-section .container {
    position: relative;
    z-index: 2;
}


/* Couleur des liens du menu */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* AU SURVOL DE LA SOURIS */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffc107;        /* jaune Bootstrap */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  /* souligner  */
  color: #ffc107 !important;
  font-weight: bold;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #ffc107;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}









/* Bouton hero */
.btn-hero {
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}




.icon {
  font-size: 3rem;
  color: #161618;
  display: block;
  transition: transform 0.4s ease, color 0.4s ease;
  background: #f8f9fa;
  border-radius: 50%;
  padding: 20px;

}

/* Animation au hover */
.card:hover .icon {
  transform: translateY(-8px) scale(1.15) rotate(-5deg);
  color: #ca770a;
}

/* Animation de la carte (bonus) */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

