body{
    background-color: orange;
}



.hero-section {
    height: 70vh; /* plein écran */
    background-image: url("./photos/photo1.png"); /* mets le chemin de ton image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Overlay sombre pour le texte */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero-section .container {
    position: relative;
    z-index: 2;
}




/* Couleur de la navbar */
.custom-navbar {
    background-color: #000; /* noir (change si tu veux) */
}

/* Couleur des liens */
.custom-navbar .nav-link {
    color: #fff !important; /* blanc */
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover des liens */
.custom-navbar .nav-link:hover {
    color: orange !important;
}

/* Lien actif */
.custom-navbar .nav-link.active {
    color: orange !important;
}



/* Bouton hero */
.btn-hero {
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}


/* Apparition */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

/* Délais */
.delay-1 { transition-delay: 0.1s; }
.delay-2 { transition-delay: 0.2s; }
.delay-3 { transition-delay: 0.3s; }

/* Icônes */
.icon {
  font-size: 3rem;
  color: #0d6efd;
  transition: transform 0.3s ease;
}

/* Hover cartes */
.card:hover .icon {
  transform: scale(1.2) rotate(-5deg);
}

.card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}


