
body {
     background: linear-gradient(135deg, #eee456, #e67946);
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}


.container {
    flex: 1;
}

        
        .form-card {
            background: #f1ecce;
            border-radius: 16px;
            padding: 2rem;
            box-shadow: 0 20px 40px rgba(199, 107, 20, 0.15);
        }

    
    .btn-orange {
        background-color: #eec5a3; /* orange Bootstrap */
        border-color: #fd7e14;
        color: #161414;
    }

    .btn-orange:hover {
        background-color: #e96b0c;
        border-color: #0e0b09;
        color: #fff;
    }


    .footer {
    background: linear-gradient(135deg, #2c2d35, #252227);
}

.footer-link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
}



